# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Maintenance Window Orchestrator"

# Security
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=maint_orchestrator_bot

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# Integrations (Mock)
K8S_CONTEXT=mock
SLACK_WEBHOOK_URL=mock
PAGERDUTY_API_KEY=mock

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
